{% if customer.metafields.subscriptions.customer_string %}
<!--BeginRechargeCode-->
<p><a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</a></p>
<!--EndRechargeCode-->
{% endif %}<br>
<section class="section section--account account account--main">

    <div class="container container--tiny">
        <div class="section__title section__title--center section__title--desc">
            <!-- <h1 class="section__title-text h2">{{ 'customer.account.title' | t }}</h1> -->
            <h4><a href="#">Overview</a></h4>
            <h5><a href="#">Account Settings</a></h5>
            <h5><a href="#">Addresses</a></h5>
            <h5><a href="#">Order History</a></h5>
            <h5><a href="#">Manange Subscriptions</a></h5>
            <h5 ><a href="/account/logout" >{{ 'layout.customer.log_out' | t }}</a></h5>
        </div>
    </div>



    <div class="container">
        <div class="o-layout">
            <div class="o-layout__item">

                <div class="overview">
                    <h1>Account Overview</h1>
                    <p>Welcome to MyAccount, Chris! Here you can see your purchase history, adjust your Subscription orders, update your billing information, and more!</p>
                </div>

                <!-- <h2 class="h3">{{ 'customer.orders.title' | t }}</h2> -->


                {% paginate customer.orders by 20 %}
                    {% if customer.orders.size != 0 %}
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>{{ 'customer.orders.order_number' | t }}</th>
                                    <th>{{ 'customer.orders.date' | t }}</th>
                                    <th>{{ 'customer.orders.payment_status' | t }}</th>
                                    <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                                    <th>{{ 'customer.orders.total' | t }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in customer.orders %}
                                    <tr class="responsive-table__row">
                                        <td data-label="{{ 'customer.orders.order_number' | t }}">
                                            <a href="{{ order.customer_url }}" class="link link--arrow">{{ order.name }}</a>
                                        </td>
                                        <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                                        <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                                        <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                                        <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <div class="orders-none">
                        <h2>Recent Orders</h2>

                        <p>{{ 'customer.orders.none' | t }}</p>
                    </div>
                    {% endif %}
                    {% if paginate.pages > 1 %}
                        <div class="account__pagination">
                            <div class="container">
                                <div class="pagination">
                                    <div class="pagination__items">
                                        {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endpaginate %}
            </div>
            <div class="o-layout__item u-1/1 u-1/3@tab">

                <!-- <h2 class="h3">{{ 'customer.account.details' | t }}</h2> -->
                <h1>Addresses</h1>

                {{ customer.default_address | format_address }}

                <p>
                    <a href="/account/addresses" class="c-btn c-btn--light">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
                </p>

            </div>
        </div>
    </div>
</section>