<section class="career-form-wrapper">
  <div class="container">
    <div class="career-form">
      <h2 class="career-form-title">{{ section.settings.form_title }}</h2>
      <div class="custom-form">
        {% form 'contact' %}
          {% if form.posted_successfully? %}
              <h4 class="page__contact-form__note form-success">{{ 'contact.form.post_success' | t }}</h4>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="o-layout">
              <div class="o-layout__item u-1/1 u-1/2@tab">
                  <label for="ContactFormName"></label>
                  <input type="text" placeholder="Full Name" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
              <div class="o-layout__item u-1/1 u-1/2@tab">
                  <label for="ContactFormEmail" class="{% if form.errors contains 'email' %}label--error{% endif %}"></label>
                  <input type="email" placeholder="Email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}">
              </div>
          </div>

          <label for="ContactFormSubject"></label>
          <input type="tel" placeholder="Location" id="ContactFormLocation" name="contact[subject]"value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          <label for="ContactFormMessage"></label>
          <textarea rows="10" placeholder="Write Message" id="ContactFormMessage" class="ContactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <div class="upload-wrapper">
            <a href=" {{ section.settings.choose_button }} " class="choose-button"><svg xmlns="http://www.w3.org/2000/svg" width="12.753" height="16.126" viewBox="0 0 12.753 16.126"><defs><style>.a,.b{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:1.3px;}.a{stroke-linejoin:round;}</style></defs><g transform="translate(-14831.488 -6965.033)"><path class="a" d="M14838.311,6980.509h-6.172v-14.826h8.043"/><path class="a" d="M14857.153,6974.45v-5.361l-3.178-3.442" transform="translate(-13.604 0.036)"/><path class="a" d="M14850.1,6993.876l2.457-2.48,2.316,2.48" transform="translate(-11.285 -16.152)"/><path class="b" d="M14856.521,6997.023v-5.05" transform="translate(-15.316 -16.515)"/><path class="a" d="M14839.109,6965.683v4.024h4.013" transform="translate(0.453)"/></g></svg> {{ section.settings.choose_button_title }} </a>
            <p class="upload-text">Max file size for upload is:<b> 5MB</b> <br> Accepted file extensions: <b> .doc, .docx, .pdf, .txt </b></p>
          </div>
          

          <input type="submit" class="c-btn c-btn--primary c-btn--center c-btn--full u-mt u-mb- career-form-submit" value="{{ section.settings.form_button }}">
        {% endform %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Submit your Resume",
    "settings": [
      {
        "type": "text",
        "id": "form_title",
        "default": "Submit your Resume",
        "label": "Form Title"
      },
      {
        "type": "text",
        "id": "choose_button_title",
        "label": "Submit Button Title",
        "default": "CHOOSE FILE"
      },
      {
        "type": "url",
        "id": "choose_button",
        "label": "Choose Button Url"
      },
      {
        "type": "text",
        "id": "form_button",
        "default": "SUBMIT RESUME",
        "label": "Submit Resume Button Title"
      }
    ]
  }
{% endschema %}