<section class="career-main">
  <div class="container">
    <div class="career-content-wrapper">
      {{ section.settings.top_content }}
      {% if section.blocks.size > 0 %}
      <div class="table">
        <table>
          <tbody>
            <tr>
              <th>{{ section.settings.left_title }}</th>
              <th>{{ section.settings.right_title }}</th>
            </tr>
            {% for block in section.blocks %}
            <tr>
              <td>{{ block.settings.left_text }}</td>
              <td>{{ block.settings.right_text }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Position and Location",
    "settings": [
      {
        "type": "html",
        "id": "top_content",
        "label": "Top Content"
      },
      {
        "type": "text",
        "id": "left_title",
        "label": "Left Title Text"
      },
      {
        "type": "text",
        "id": "right_title",
        "label": "Right Title Text"
      }
    ],
    "blocks":[
      {
        "type": "text",
        "name": "Table",
        "settings": [
          {
            "type": "text",
            "id": "left_text",
            "label": "Left Text"
          },
          {
            "type": "text",
            "id": "right_text",
            "label": "Right Text"
          }
        ]
      }
    ]
  }
{% endschema %}